<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset("css/bootstrap-modal.css") }}">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
      		html, body {
        		background-color: #eee;
      		}
      	</style>
      	{% block stylesheets %}{% endblock %}
    </head>
    <body style="width:800px; margin:0 auto; text-align:center;">
        <script src="{{ asset('js/jquery.min.js') }}"></script>

        {% block body %}{% endblock %}


		<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-modalmanager.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-modal.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
