{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}New Strategy{% endblock %}
 
{% block content %}

{% if father == null %}
<form action="{{ path('strategy_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% else %}
<form action="{{ path('strategy_createSon', { 'id': father.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endif %}
{% endblock %}
