{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Strategy{% endblock %}
 
{% block content %}
    <a style="float:left; margin-bottom: 12px;" class="btn btn-small" href="{{ path('grid_show', {'id': grid.id}) }}">
        <i class="icon-circle-arrow-left"></i> Back
    </a>
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        {% if iseditable %}
        <tr>
        	<th>Actions</th>
        	<td>
        		<form action="{{ path('strategy_delete', { 'id': entity.id }) }}" method="post">

            	{{ form_widget(delete_form) }}
                    <a role="button" class="btn btn-primary" href="{{ path('strategy_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
            		<button class="btn btn-danger" type="submit">Delete</button>
        		</form>
        	</td>
        </tr>
        {% endif %}
    </tbody>
</table>


{% endblock %}
