{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Goals{% endblock %}
 
{% block content %}


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>
            	{% if entity.getStatus() == constant('Isssr\\CoreBundle\\Entity\\Goal::STATUS_NOTEDITABLE') %}
            		<p class="text-warning">Not editable</p>
            	{% endif %}
            	{% if entity.getStatus() == constant('Isssr\\CoreBundle\\Entity\\Goal::STATUS_EDITABLE') %}
            		<p class="text-warning">Editable</p>
            	{% endif %}
            	{% if entity.getStatus() == constant('Isssr\\CoreBundle\\Entity\\Goal::STATUS_ACCEPTED') %}
            		<p class="text-success">Accepted by GSOs</p>
            	{% endif %}
            	{% if entity.getStatus() == constant('Isssr\\CoreBundle\\Entity\\Goal::STATUS_SOFTEDITABLE') %}
            		<p class="text-error">Rejected, need new version</p>
            	{% endif %}
            
            </td>
            <td>{{ entity.priority }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('goal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    {% if entity.owner == user %}
                    	{% if entity.editable() or entity.softEditable() %}
		                    <li>
		                        <a href="{{ path('goal_edit', { 'id': entity.id }) }}">edit</a>
		                    </li>
		                    
	                    {% else %}
		                    <li>
		                        edit
		                    </li>
		                
	                    {% endif %}
		                    <li>
		                        <a href="{{ path('superingoal', { 'id': entity.id }) }}">supers</a>
		                    </li>
	                {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <a href="{{ path('goal_new') }}">
            Create a new goal
        </a>


{% endblock %}