{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Goal{% endblock %}
 
{% block content %}

<table class="table">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.getStatusString() }}</td>
        </tr>
		<tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ entity.priority }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            	<td>
            		<ul>
					    {% for tag in entity.tags %}
					        <li>{{ tag }}</li>
					    {% endfor %}
					</ul>
            	</td>
            
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ entity.getOwner() }}</td>
        </tr>
        <tr>
            <th>Enactor</th>
            <td>{{ entity.getEnactor() }}</td>
        </tr>
        <tr>
            <th>Supers</th>
            	<td>
            		<ul>
					    {% for super in entity.getSupersInGoal() %}
					        <li>
					        	{{ super.user }} -
                                <!--
					        	<a href="{{ path('roles_delete', { 'id': super.id }) }}">remove</a>
					        	-->
					        </li>
					    {% endfor %}
					</ul>
            	</td>
            
        </tr>
        <tr>
            <th>Questions Stakeholders</th>
                <td>
                    <ul>
                        {% for qs in entity.getQss() %}
                            <li>
                                {{ qs }} -
                                <a href="{{ path('roles_delete', { 'id': qs.id }) }}">remove</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
        </tr>
        <tr>
            <th>Measurement Model Design Manager</th>
            <td>{{ entity.getMmdm() }}</td>
        </tr>
        <tr>
            <th>Questions</th>
            <td>
                <a href="#showQuestions" role="button" class="btn btn-small" data-toggle="modal">Show</a>
                {% if actions.canSelectQuestions() %}
                    <a href="#selectQuestions" role="button" class="btn btn-small" data-toggle="modal">Select</a>
                {% endif %}
            </td>
        </tr>
        <tr>
        <a class="btn btn-small btn-primary" href="{{ path('goal_show_more', { 'id': entity.id }) }}">More Details</a>
        </tr>

    </tbody>
</table>

       
	{% if actions.canDelete() %}
		<a href="#delete" role="button" class="btn btn-danger" style="width: 90px;" data-toggle="modal">Delete</a>
	{% endif %}
	
	{% if actions.canEdit() or actions.canSoftEdit() %}
		<a href="#edit" role="button" class="btn" style="width: 90px;" data-toggle="modal">Edit</a>
	{% endif %}
	
	{% if actions.canAddSuper() %}
		<a href="#addSuper" role="button" class="btn" style="width: 90px;" data-toggle="modal">Add Super</a>
	{% endif %}
	
	{% if actions.canAddEnactor() %}
		<a href="#addEnactor" role="button" class="btn" style="width: 90px;" data-toggle="modal">Add Enactor</a>
	{% endif %}

    {% if actions.canAddMMDM() %}
        <a href="#addMMDM" role="button" class="btn" style="width: 90px;" data-toggle="modal">Add Measurement Model Design Manager</a>
    {% endif %}

    {% if actions.canAddQS() %}
        <a href="#addQS" role="button" class="btn" style="width: 90px;" data-toggle="modal">Add Questions Stakeholders</a>
    {% endif %}
	
	{% if actions.canNotifyEnactor() %}
		<a href="#notifyEnactor" role="button" class="btn" style="width: 90px;" data-toggle="modal">Notify Enactor</a>
	{% endif %}
	
	{% if actions.canNotifySupers() %}
		<a href="#notifySupers" role="button" class="btn" style="width: 90px;" data-toggle="modal">Notify Supers</a>
	{% endif %}
	
	{% if actions.canAcceptGoal() %}
		<a href="#acceptGoal" role="button" class="btn btn-success" style="width: 90px;" data-toggle="modal">Accept</a>
	{% endif %}
	
	{% if actions.canRejectGoal() %}
		<a href="#rejectGoal" role="button" class="btn btn-danger" style="width: 90px;" data-toggle="modal">Reject</a>
	{% endif %}

    {% if actions.canCreateQuestion() %}
        <a href="#createQuestion" role="button" class="btn" style="width: 90px;" data-toggle="modal">Add Question</a>
    {% endif %}

	
	<div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;"> 
			<p>Do you really want to delete this Organizational Goal?</p>      
			<form action="{{ path('goal_delete', { 'id': entity.id }) }}" method="post" style="display: inline">
				{{ form_widget(delete_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-primary" type="submit">Yes</button>
			</form>
		</div>
	</div>
	

	<div id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-header">
		Edit Organizational Goal "<b>{{ entity.title }}</b>"
		</div>
		<div class="modal-footer" style="text-align:center;">
			{% if entity.rejections.count() > 0 %}
			<h3>Rejections</h3>
			<table class="table">
				<thead>
				<tr>
					<th>Text</th>
					<th>Datetime</th>
					<th>User</th>
				</tr>
				</thead>
				<tbody>
				{% for rej in entity.rejections %}
					<tr>
						<td>{{ rej.text }}</td>
						<td>{% if rej.datetime %}{{ rej.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
						<td>{{ rej.creator }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			<form action="{{ path('goal_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			{{ form_widget(edit_form) }}

            <button class="btn btn-primary" type="submit">Save</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>

			</form>
		</div>
	</div>

	
	<div id="addSuper" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;">
			<form action="{{ path('roles_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(add_super_form) }}>
				{{ form_widget(add_super_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Add</button>
			</form>
		</div>
	</div>
	
	
	<div id="addEnactor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;">
			<form action="{{ path('roles_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(add_enactor_form) }}>
				{{ form_widget(add_enactor_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" type="submit">Add</button>
			</form>
		</div>
	</div>


    <div id="addMMDM" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-footer" style="text-align:center;">
            <form action="{{ path('roles_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(add_mmdm_form) }}>
                {{ form_widget(add_mmdm_form) }}
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>


    <div id="addQS" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-footer" style="text-align:center;">
            <form action="{{ path('roles_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(add_qs_form) }}>
                {{ form_widget(add_qs_form) }}
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
	
	
	<div id="notifySupers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;"> 
			<p>Do you really want notify Goal Super Owners now?</p>      
			<form action="{{ path('goal_notify_supers', { 'id': entity.id }) }}" method="post" style="display: inline">
				{{ form_widget(notify_supers_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-primary" type="submit">Yes</button>
			</form>
		</div>
	</div>
	
	
	<div id="notifyEnactor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;"> 
			<p>Do you really want notify Goal Enactor now?</p>      
			<form action="{{ path('goal_notify_enactor', { 'id': entity.id }) }}" method="post" style="display: inline">
				{{ form_widget(notify_enactor_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-primary" type="submit">Yes</button>
			</form>
		</div>
	</div>
	
	
	<div id="acceptGoal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;"> 
			<p>Do you really want to accept this Organizational Goal?</p>      
			<form action="{{ path('goal_accept', { 'id': role.id }) }}" method="post" style="display: inline">
				{{ form_widget(accept_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-primary" type="submit">Yes</button>
			</form>
		</div>
	</div>
	
	
	<div id="rejectGoal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-footer" style="text-align:center;"> 
			<p>Do you really want to reject this Organizational Goal?</p>      
			<form action="{{ path('goal_reject', { 'id': entity.id }) }}" method="post" style="display: inline">
				{{ form_widget(reject_form) }}
				<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-primary" type="submit">Yes</button>
			</form>
		</div>
	</div>


    <div id="createQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-header">
            Add question to "<b>{{ entity.title }}</b>"
        </div>
        <div class="modal-footer" style="text-align:center;">
            <form action="{{ path('question_create', { 'id': entity.id })  }}" method="post" {{ form_enctype(create_question_form) }}>
                {{ form_widget(create_question_form) }}
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
            </form>
        </div>
    </div>


    <div id="showQuestions" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-header">
            Questions in "<b>{{ entity.title }}</b>"
        </div>
        <div class="modal-footer" style="text-align:center;">
            {% include 'IsssrCoreBundle:Question:index.html.twig' with {'entities': entity.getQuestions()}%}
        </div>
    </div>

    <div id="selectQuestions" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-header">
            Questions in "<b>{{ entity.title }}</b>"
        </div>
        <div class="modal-body">
                {% for entity in entity.getQuestions() %}
                        <input type="checkbox"> -
                        {{ entity.question }}
                    <br>
                {% endfor %}
        </div>
        <div class="modal-footer" style="text-align:center;">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
            </table>
        </div>
    </div>

{% endblock %}