<style media="screen" type="text/css">

    #isssr_corebundle_expressiontype_expression {
        width:400px;
    }

</style>

<script type="text/javascript">

    function fillExpression(select) {
        ss = select.options[select.selectedIndex].value;

        $('#isssr_corebundle_expressiontype_expression').val(function(i,val) {
            return val + ss;
        });

        select.selectedIndex = 0;
    }

</script>

{% if entities.count() > 0 %}
<table class="records_list">
    <thead>
        <tr>
            <th>Expressions List</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            <td>{{ entity.expression }}</td>
			<td>
            	<a href="{{ path('expression_show', { 'id': entity.id }) }}">show</a>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<p>
    <br>
<b>Create a new expression</b><br>
    {% for entity in goal.getAcceptedQuestions() %}
        {{ entity }}
        <select style="width:90px;" onchange="fillExpression(this);">
            <option value="">Select</option>
            <option value="[avg(question{{ entity.id }})]">Average</option>
            <option value="[min(question{{ entity.id }})]">Minimum</option>
            <option value="[max(question{{ entity.id }})]">Maximum</option>
            <option value="[lst(question{{ entity.id }})]">Last In</option>
            <option value="[fst(question{{ entity.id }})]">First In</option>

        </select>
        <br>
    {% endfor %}
<form action="{{ path('expression_create', { 'id': goal.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.expression) }}
    {{ form_widget(form._token) }}
    <p>
        <button type="submit" class="btn btn-primary">Create</button>
    </p>
</form>
</p>
