{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Expression{% endblock %}
 
{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Goal</th>
            <td>{{ entity.goal.getTitle() }}</td>
        </tr>
        <tr>
            <th>Expression</th>
            <td>{{ entity.expression }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    
        <form action="{{ path('expression_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    
</ul>

{% endblock %}
